# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
/HW6.iml
/misc.xml
/modules.xml
/php.xml
/prettier.xml
/inspectionProfiles/profiles_settings.xml
/sqldialects.xml
/vcs.xml
